*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Comic Neue', cursive;;
}

/* MENU PRINCIPALE */
header{
    width: 100%;
    background-color:rgba(37,94,233,255);
}
.conteiner-nav{
    width: 70%;
    margin: auto;
}
.conteiner-nav div{
    display: inline-block;
    padding: 20px;
}
.logo{
    width: 20%;
    vertical-align: middle;
}

.cont-menu-principale{
    width: 60%;
}
.menu-principale{
    width: 100%;
    text-align: center;
}
.menu-principale li{
    display: inline-block;
    padding: 15px;
    margin-left: 20px;
}
.menu-principale li a{
    list-style-type: none;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
.menu-principale li a:hover{
    text-decoration: underline;
}
.cont-button{
    width: 20%;
}
.accedi{
    margin-left: 100%;
}
.button{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 30px;
    background-color: white;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
/* FINE MENU PRINCIPALE */

 /* HEROS */
 .heros{
     width: 100%;
     height: 600px;
     position: relative;
     background-image: url(../img/jumbo.png);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
 }
 .txt-heros{
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-align: center;
 }
 .txt-heros h2{
     font-size: 5em;
     color: white;
 }
 .txt-heros p{
     font-size: 1.5em;
     color: white;
     margin-top: 20px;
     margin-bottom: 20px;
 }
 .browser{
     background-color: rgba(35,39,42,255);
     color: white;
     margin-left: 30px;
     font-size: 25px;
     padding: 13px 13px;
 }
 .mac{
    font-size: 25px;
    padding-top: 9px;
    padding-bottom: 11px;
 }
 .button-heros a:hover{
     color: rgba(37,94,233,255);
 }
/* FINE HEROS */

/* INIZIO MAIN */

main{
    width: 100%;
}

/* PRIMA SECTION */
.section{
    width: 70%;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;

}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.immagine{
    width: 60%;
}
.left{
    float: left;
}
.right{
    float: right;
}
.immagine img{
    width: 100%;
}

.testo{
    width:30%;
    margin-top: 50px;
}
.testo h2{
    font-size: 3.5em;
    text-align: left;
}
.testo p{
    font-size: 1.7em;
    text-align: justify;
    margin-top: 30px;
    line-height: 1.5em;
}

.ultima{
    width: 100%;
}
.txt{
    width: 70%;
    text-align: center;
    margin: auto;
    margin-top: 40px;
}
.txt h2{
    font-size: 4em;
    padding: 40px;
}
.txt p{
    font-size: 1.8em;
}
.banner{
    width: 70%;
    margin: auto;
}
.banner img{
    width: 100%;  
}
.start{
    width: 70%;
    margin: auto;
    margin-top: 50px;
    background-image: url(../img/stars.svg);
    background-position: center;
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
}
.start h2{
    text-align: center;
    font-size: 4.2em;
    padding: 40px;
    margin-bottom: 50px;
}
.b-blu{
    padding-right: 20px;
    padding-left: 20px;
    color: white;
    font-size: 2em;
    background-color: rgba(142,161,225,255);
}
.ultimo-bottone{
    width: 70%;
    margin: auto;
    text-align: center;
}
footer{
    width: 100%;
    background-color: rgba(35,39,42,255);
}
.menu-finale{
    width: 70%;
    margin: auto;
    margin-top: 40px;
    padding: 40px;
}
.col-1{
    width: 40%;
    float: left;
}
.col-1 .ita img{
    display: inline;
    height: 20px;
    width: 30px;
    vertical-align: middle;
}
.col-1 h2{
    color: rgba(142,161,225,255);
    font-size: 2em;
    margin-bottom: 20px;
}
.col-1 span{
    color: white;
}
.col-2{
    width: 15%;
    float: left;
}
.col-3{
    width: 15%;
    float: left;
}
.col-4{
    width: 15%;
    float: left;
}
.col-5{
    width: 15%;
    float: left;
}
.menu-finale div ul li{
    list-style-type: none;
    padding: 10px;
    margin-top: 5px;
}
.menu-finale div ul li a{
    text-decoration: none;
    color: white;
}
.menu-finale div ul{
    margin-top: 10px;
    text-align: center;
    font-size: 1em;
    color: rgba(142,161,225,255);
    font-weight: bold;
}
.menu-finale div ul li a:hover{
    text-decoration: underline;
}
hr{
    background-color: rgba(142,161,225,255); height: 1px; border: 0;
    margin-bottom: 50px;
}

.crediti{
    width: 70%;
    margin: auto;
    padding: 30px;
    padding-bottom: 100px;
}
.crediti img{
    float: left;
}
.crediti .button{
    float: right;
    background-color: rgba(142,161,225,255);
    color: white;
}
